[submodule "smartapi-core/src/main/resources/textorio-chromedriver-bin"]
	path = smartapi-core/src/main/resources/textorio-chromedriver-bin
	url = git@github.com:textorio/textorio-chromedriver-bin.git
